<div class="fadeIn">
    <div class="wrapper" >
        <div class="page-header page-header-small" filter-color="white">
            <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/visao.png');">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title">Grandes jornadas virão!</h1>  
                
                    <!--Conteúdo vem aqui-->
                
                </div>        
            </div>
        </div>
    </div>        
    <footer class="footer text-center">
        <div class="container" style="font-size: 12px;">
            Adaptado por <a href="https://www.ludmylasoares.site" target="_blank" style="text-decoration: none;">
            Ludmyla Soares</a>                
                &copy;
            {{data | date: 'yyyy'}} Licença <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md"
            target="_blank" style="text-decoration: none;">
            MIT</a> - Todos direitos reservados.
        </div>
    </footer>    
</div>    