<footer class="footer" style="position:absolute">
    <div class="container" style="font-size: 12px; margin-bottom: 0px">
        <a href="https://www.ludmylasoares.site" target="_blank" style="color: #c66f64; text-decoration: none;">
            Ludmyla Soares</a>                
        &copy;
        {{data | date: 'yyyy'}} Licença <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md"
            target="_blank" style="color: #c66f64; text-decoration: none;" placement="top" ngbTooltip="Obrigada Invision e Creative Tim!">
            MIT</a> - Todos direitos reservados.
    </div>
</footer>
