mat-fab-menu.fix-bottom-right {
    position: fixed;
    bottom: 35px;
    right: 10px;
    z-index: 100;
  }

mat-fab-menu.fix-bottom-left {
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 100;
  } 

mat-fab-menu {
      margin-bottom: 10px;
  }