 <div class="text-center">
  <mat-fab-menu 
    class="fix-bottom-right"
    color="primary" 
    [fabButtons]="fabCountries"
    direction="top">
  </mat-fab-menu>
</div>

<!--<div class="area_menu">
<div class="fab" ontouchstart="">
      <button class="main"><fa-icon class="fas fa-spin" [icon]="CogIcon"></fa-icon></button> 
      <ul>
        <li>
            <label for="framework">Projeto Angular 9</label>
                <button id="framework">
                    <fa-icon [icon]="AngularIcon"></fa-icon>
                </button>
        </li>
        <li>
            <label for="adaptado">Adaptado por Ludmyla Soares</label>
                <button id="adaptado">
                    <fa-icon [icon]="CodeIcon"></fa-icon>
                </button>
        </li>
        <li>
            <label for="css3">CSS3 nos padrões W3C</label>
                <button id="css3">
                    <fa-icon [icon]="Css3Icon"></fa-icon>
                </button>
        </li>
        <li>
            <label for="html5">HTML5 nos padrões W3C</label>
                <button id="html5">
                    <fa-icon [icon]="Html5Icon"></fa-icon>
                </button>
        </li>
        <li>
            <label for="dispositivos" style="height: 40px; margin-top: 5px">Compatível com dispositivos móveis <br/>nos padrões Google</label>
                <button id="dispositivos">
                    <fa-icon [icon]="TabletIcon"></fa-icon>
                </button>
        </li>
        <li>
                <button id="fechar" style="background:#1c2331;">
                    <fa-icon [icon]="TimesIcon"></fa-icon>
                </button>
        </li> 
        <li>
            <label for="mapa">Mapa do Site</label>
                <button id="mapa">
                    <fa-icon [icon]="SitemapIcon" title="Atalhos para todas as páginas"></fa-icon>
                </button>
        </li>    
    </ul>
  </div>
 </div>
-->