mat-fab-menu.fix-bottom-right {
    position: fixed;
    
    bottom: 35px;
    right: 5px;
    z-index: 100;
  }

mat-fab-menu.fix-bottom-left {
    position: fixed;
    bottom: 60px;
    left: 5px;
    z-index: 100;
  } 

mat-fab-menu {
      margin-bottom: 5px;
  }