<!--0. Início Fade In-->
<div class="fadeIn">
<!-- ***0. Início Embrulho*** -->
<div id="particles-js"></div>
    <!---------- 1. Início da Página de Cabeçalho com Filtro Claro Cinza ----------> 
    <div class="page-header clear-filter" filter-color="orange" style="position: absolute; width: 100%; 
    height:100%;">
    
        <!--1. Início Página/Imagem de Cabeçalho com Rellax Cabeçalho -->
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/bg.jpg');">
        </div>
           <!-- 1.a Fim Página/Imagem de Cabeçalho com Rellax Cabeçalho-->
                
                <!--1. Início Container-->
                <div class="container">
                    <!--Início do Centro de Conteúdo-->
                    <div class="content-center brand" style="margin-top: 60px;">
                        <!-- <img class="n-logo" src="assets/img/now-logo.png" alt="">Insere imagem logo-->
                        <h1 class="h1-seo">Ludmyla Soares</h1>
                        <div id="typed-string">
                            <h4><span id="typed3"></span></h4>
                        </div>
                        <div id="typed-string">
                            <h4><span id="typed6" style="font-family: 'Elsie', cursive;"></span></h4>
                        </div>
                        <br/>
                        <button style="background: linear-gradient(to bottom,  #87293e, #1c2331);" href="#button" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="Veja mais...">
                            <i class="now-ui-icons gestures_tap-01"></i>
                        </button>
                        <br/></div>
                    <!--Fim do Centro de Conteúdo-->
                </div>
                <!--1. Fim Container-->
                
        </div>
        <!---------- 1. Fim da Página de Cabeçalho com Filtro Claro Cinza ---------->

        <!---------- 2. Início Principal -------->  
      
        <!---------- 2. Fim Principal ---------->


        <!---------- 3. Inicío Rodapé ---------->
   
        <!---------- 3. Fim Rodapé ------------>
</div>  