<div class="fadeIn">
<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      <div class="dropdown button-dropdown">
        <div ngbDropdown>
          <a class="dropdown-toggle" ngbDropdownToggle>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
          </a>
           <div ngbDropdownMenu>
             <a class="dropdown-header">Em andamento</a>
             <a class="dropdown-item" href="https://www.udemy.com/course/formacao-angular-inicio-criando-7-projetos/learn/lecture/7071542#overview"
             >Formação Angular 9</a>
             <a class="dropdown-item" href="https://www.udemy.com/course/curso-power-bi/learn/lecture/7817536#overview"
             >Power BI</a>
             <a class="dropdown-item" href="https://www.udemy.com/course/curso-laravel-5/learn/lecture/13899738#overview"
             >API REST com Laravel 5.7</a>
            
             <a class="dropdown-header">Serviços</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Registro de Domínio</a>
             <a class="dropdown-item" href="#">Hospedagem de Sites</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="https://demos.creative-tim.com/now-ui-kit/index.html">Documentação Now UI Kit</a>
           </div>
         </div>
      </div>
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/index']" placement="bottom" ngbTooltip="Obrigada Invision e Creative Tim">
                Ludmyla Soares
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/examples/landing']">
                      <i class="now-ui-icons business_bulb-63"></i>
                      <p>Landing</p>
                  </a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/examples/profile']">
                      <i class="now-ui-icons clothes_tie-bow"></i>
                      <p>Perfil</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.ludmylasoares.site/pdf/curriculo_ludmyla_oliveira_soares.pdf" target="_blank">
                        <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                        <p>Imprimir</p>
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" title="Estou no GitHub" data-placement="bottom" href="https://github.com/ludmylasoares" target="_blank">
                    <i class="fab fa-github"></i>
                    <p class="d-lg-none d-xl-none">GitHub</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" title="Estou no Linkedin" data-placement="bottom" href="https://www.linkedin.com/in/ludmylasoares/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                    <p class="d-lg-none d-xl-none">Linkedin</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" title="Estou no Facebook" data-placement="bottom" href="https://www.facebook.com/ludmyla.oliveira.soares" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                    <p class="d-lg-none d-xl-none">Facebook</p>
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

