<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      <div class="dropdown button-dropdown">
        <div ngbDropdown>
          <a class="dropdown-toggle" ngbDropdownToggle>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
          </a>
           <div ngbDropdownMenu>
             <a class="dropdown-header"> Cursos em andamento</a>
             <a class="dropdown-item" href="https://www.udemy.com/course/formacao-angular-inicio-criando-7-projetos/learn/lecture/7071542#overview" target="_blank"
             ><i class="fab fa-angular"></i> Formação Angular 9</a>
             <a class="dropdown-item" href="https://www.udemy.com/course/curso-power-bi/learn/lecture/7817536#overview" target="_blank"
             ><i class="far fa-chart-bar"></i> Power BI</a>
             <a class="dropdown-item" href="https://www.udemy.com/course/curso-laravel-5/learn/lecture/13899738#overview" target="_blank"
             ><i class="fab fa-laravel"></i> API REST com Laravel</a>
            
             <a class="dropdown-header"> Serviços Disponíveis</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#" target="_blank"><i class="fab fa-globe"></i> Registro de Domínio</a>
             <a class="dropdown-item" href="#" target="_blank"><i class="fab fa-cpanel"></i> Hospedagem de Sites</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="https://demos.creative-tim.com/now-ui-kit/docs/1.0/getting-started/introduction.html" target="_blank"><i class="far fa-file"></i> Documentação Template</a>
           </div>
         </div>
      </div>
      <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/index']" placement="bottom" ngbTooltip="Olá, seja bem-vindo(a)!"> 
              <img class="efeito" src="assets/img/marca.png" style="width:40px;height:40px;"> 
              Ludmyla Soares</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
				
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/examples/profile']">
                  <i class="now-ui-icons users_single-02"></i>
                  <p>Perfil</p>
                </a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/examples/landing']">
                      <i class="now-ui-icons business_bulb-63"></i>
                      <p>Portifólio</p>
                  </a>
              </li>
              <li class="nav-item">
                <div ngbDropdown class="dropdown">
                  <a class="nav-link dropdown-toggle" ngbDropdownToggle rel="tooltip" title="Música" data-placement="bottom">
                      <i class="now-ui-icons media-2_note-03"></i>
                      <p class="d-lg-none d-xl-none">Música</p>
                  </a>
                    <div ngbDropdownMenu class="dropdown-menu">
                        <div class="dropdown-header" style="color:#1c2331">Jimmy Cliff - I Can See Clearly Now With</div>
                        <a class="dropdown-item">
                          <audio class="audio" controls autoplay >
                            <source src="assets/audios/Jimmy Cliff - I Can See Clearly Now With.mp3" type="audio/mpeg">
                            Seu navegador não suporta o elemento de áudio.
                        </audio>
                        </a>
                    </div>
                </div>
            </li>
               <li class="nav-item">
                  <a class="nav-link" href="https://www.ludmylasoares.site/pdf/curriculo_ludmyla_oliveira_soares.pdf" target="_blank">
                      <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                      <p>Imprimir</p>
                  </a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/examples/login']">
                    <i class="now-ui-icons gestures_tap-01"></i>
                    <p>Login</p>
                </a>
            </li>   
            </ul>
        </div>
    </div>
</nav>

