<app-navbar></app-navbar>
   <!--google translate
   <div class="tradutor">
    <div class="container">
    <div class="pull-right">
<div id="google_translate_element"></div><script>
function googleTranslateElementInit() {
new google.translate.TranslateElement({pageLanguage: 'pt', includedLanguages: 'pt,en,es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false, gaTrack: true, gaId: 'UA-64421256-17'}, 'google_translate_element');
}
</script><script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>
    </div>
</div>
/google translate--> 
<router-outlet></router-outlet>
 

 <!--O conteúdo (se não houver conteúdo, a faixa de opções atua como um link) 
 <div class="forkit-curtain">
    <div class="close-button"></div>
    <h2>Meus pets!</h2>
    <small>Romeu e Tiana<a href="#"></a></small>
    <img src="assets/img/romeu2.jpg">
    <img src="assets/img/romeu.jpg">
    <img src="assets/img/tiana.jpg">
    <img src="assets/img/tiana-romeu.jpg">
</div>-->

<!-- A fita 
<a class="forkit" data-text="Segredo Top" data-text-detached="Segure e arraste >" href="assets/js/forkit.js"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Bifurque-me no GitHub"></a>
-->

<!--whatsapp right
    <a href="https://api.whatsapp.com/send?phone=5511998521885" target="_blank" class="whats1"><img src="assets/img/whatsapp-01.png" alt="WhatsApp" style="height:80px;position:fixed;bottom:55px;right:25px;z-index:10;" data-selector="img"></a>-->

    <a href="https://api.whatsapp.com/send?phone=5511998521885" target="_blank" class="whats2">
        <img src="assets/img/whatsapp-02.png" alt="WhatsApp" style="height:50px;position:fixed;bottom:25px;right:25px;z-index:10;" data-selector="img">
    </a>
<app-fab></app-fab>    


