<!--0. Início Fade In-->
<div class="fadeIn">
    <div class="wrapper" >
        <div class="page-header page-header-small" filter-color="white">
            <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/visao.png');">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title">Grandes jornadas virão!</h1>
                    <!--<div class="text-center">
                      <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-facebook-square"></i>
                      </a>
                      <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-google-plus"></i>
                      </a>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="section section-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Sobre</h2>
                        <h5 class="description">Sou apaixonada por tecnologia da informação!
                            Possuo experiências nos setores:  
                            administrativo, data mining, marketing digital e
                            impresso e automação de processos. Excel avançado.
                            Conhecimentos em HTML 5, CSS 3, JavaScript
                            ES6, TypeScript, PHP, Angular, Vue.js, React,
                            Bootstrap, Material Design, Joomla!, SQL, 
                            VsCode, Laragon e Corel Draw.</h5>
                    </div>
                </div>
                
                <div class="separator separator-primary"></div>
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="title text-center">My Portfolio</h4>
                                  <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                                      <ngb-tab>
                                        <ng-template ngbTabTitle>
                                          <i class="now-ui-icons design_image"></i>
                                        </ng-template>
                                          <ng-template ngbTabContent>
                                            <div class="row">
                                              <div class="col-md-10 ml-auto mr-auto">
                                                  <div class="row collections">
                                                      <div class="col-md-6">
                                                          <img src="assets/img/bg1.jpg" alt="" class="img-raised">
                                                          <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                                      </div>
                                                      <div class="col-md-6">
                                                          <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                                          <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                                      </div>
                                                  </div>
                                              </div>
                                            </div>
                                          </ng-template>
                                      </ngb-tab>
                                      <ngb-tab>
                                        <ng-template ngbTabTitle>
                                          <i class="now-ui-icons location_world"></i>
                                        </ng-template>
                                          <ng-template ngbTabContent>
                                            <div class="row">
                                              <div class="col-md-10 ml-auto mr-auto">
                                                  <div class="row collections">
                                                      <div class="col-md-6">
                                                          <img src="assets/img/bg6.jpg" class="img-raised">
                                                          <img src="assets/img/bg11.jpg" alt="" class="img-raised">
                                                      </div>
                                                      <div class="col-md-6">
                                                          <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                                          <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                                      </div>
                                                  </div>
                                              </div>
                                            </div>
                                          </ng-template>
                                      </ngb-tab>
                                      <ngb-tab>
                                        <ng-template ngbTabTitle>
                                          <i class="now-ui-icons sport_user-run"></i>
                                        </ng-template>
                                          <ng-template ngbTabContent>
                                            <div class="row">
                                              <div class="col-md-10 ml-auto mr-auto">
                                                  <div class="row collections">
                                                      <div class="col-md-6">
                                                          <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                                          <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                                      </div>
                                                      <div class="col-md-6">
                                                          <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                                          <img src="assets/img/bg6.jpg" class="img-raised">
                                                      </div>
                                                  </div>
                                              </div>
                                            </div>
                                          </ng-template>
                                      </ngb-tab>
                                  </ngb-tabset>
                            </div>
                        </div>
                    </div>
                </div>
        <footer class="footer text-center">
            <div class="container" style="font-size: 12px;">
                Adaptado por <a href="https://www.ludmylasoares.site" target="_blank" style="text-decoration: none;">
                    Ludmyla Soares</a>                
                &copy;
                {{data | date: 'yyyy'}} Licença <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md"
                    target="_blank" style="text-decoration: none;">
                    MIT</a> - Todos direitos reservados.
            </div>
        </footer>    
    </div>    
        
    