<!--0. Início Fade In-->
<div class="fadeIn">
    <div class="wrapper" >
        <div class="page-header page-header-small" filter-color="white">
            <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/bg7.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title">Grandes jornadas virão!</h1>
                </div>
            </div>
          </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Sobre</h2>
                    <h5 class="description">Sou apaixonada por tecnologia da informação!
                        Possuo experiências nos setores:  
                        administrativo, data mining, marketing digital e
                        impresso e automação de processos. Excel avançado.
                        Conhecimentos em HTML 5, CSS 3, JavaScript
                        ES6, TypeScript, PHP, Angular, Vue.js, React,
                        Bootstrap, Material Design, Joomla!, SQL, 
                        VsCode, Laragon e Corel Draw.</h5>
                </div>
                
            </div>
            <app-portifolio></app-portifolio>
        <footer class="footer text-center">
            <div class="container" style="font-size: 12px;">
                <a href="https://www.ludmylasoares.site" target="_blank" style="text-decoration: none;">
                    Ludmyla Soares</a>                
                &copy;
                {{data | date: 'yyyy'}} Licença <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md"
                    target="_blank" style="text-decoration: none;">
                    MIT</a> - Todos direitos reservados.
            </div>
        </footer>    
    </div>    
        
    