<!--0. Início Fade In-->
<div class="fadeIn">
    <div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/visao.png') ;">
        </div>
        <div class="container">
            <div class="content-center" style="margin-top:25px" >
                <div class="photo-container">
                    <img src="assets/img/lud3.jpg" alt="">
                </div>
                <h3 class="title">Ludmyla Soares</h3>
                <p class="category">Analista e Desenvolvedora<br/> de Sistemas</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
          <div class="button-container">
              <a href="https://ludmylasoares.site/pdf/curriculo_ludmyla_oliveira_soares.pdf" target="_blank" class="btn btn-primary btn-round btn-3x" style="background: #87293e;">Versão Impressa</a>
          </div>

                    <h3 class="title"> Sobre</h3>
                    <h5 class="description">
                        <strong>
                            Sou apaixonada por tecnologia da informação!
                            Possuo experiências nos setores:  
                            administrativo, data mining, marketing digital e
                            impresso e automação de processos. Excel avançado.
                            Conhecimentos em HTML 5, CSS 3, JavaScript
                            ES6, TypeScript, PHP, Angular, Vue.js, React,
                            Bootstrap, Material Design, Joomla!, SQL, 
                            VsCode, Laragon e Corel Draw.
                        </strong></h5>
                       
                    <h3 class="title"> Objetivos</h3>
                    <h5 class="description">
                        <strong>
                            Procuro experiências desafiadoras
                            em minha carreira e a
                            participação em projetos que
                            façam a diferença na vida das
                            pessoas. Acredito que só assim um
                            profissional pode continuar em
                            constante evolução!
                        </strong></h5>
                    
                    <h3 class="title"> Formação acadêmica</h3>
                    <h5 class="description">
                        <strong>Tecnóloga em Análise e Desenvolvimento de Sistemas 2016 - 2018 | UNIP</strong></h5>
                                   
                    <h3 class="title"> Certificado</h3>
                    <h5 class="description">
                        <strong>Web com ES6, Typescript e Angular | 31 horas | Udemy.com</strong></h5>
                                   
                    <h3 class="title"> Experiências Profissionais</h3>
                    <div class="card">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ngb-tabset [justify]="'center'" class="text-center">
                                <ngb-tab>
                                  <ng-template ngbTabTitle>
                                    <i class="now-ui-icons business_money-coins"></i>Analista de Crédito e Cobrança
                                  </ng-template>
                                    <ng-template ngbTabContent active>
                                       <h5>COMERCIAL ATOS PAN</h5>
                                       <h6>04/2017 a 12/2019 (2 anos 9 meses)</h6>
                                       <p>Encarregada pelo processo de crédito e
                                        cobrança em uma distribuidora de alimentos.
                                        Realizava a análise e a liberação de crédito.
                                        Atendimento personalizado. Recebimento de
                                        contas em espécie e cheque. Monitoramento
                                        e performance de títulos financeiros
                                        (mineração de dados). Acordos de
                                        pagamento e envio de carta de anuência.
                                        </p>
                                    </ng-template>
                                </ngb-tab>

                                <ngb-tab>
                                  <ng-template ngbTabTitle>
                                    <i class="now-ui-icons shopping_delivery-fast"></i>Analista de Logística
                                  </ng-template>
                                    <ng-template ngbTabContent>
                                        <h5>PBJ TRANSPORTADORA DE CARGAS</h5>
                                        <h6>11/2015 a 03/2017 (1 ano 5 meses)</h6>
                                        <p>Performance e monitoramento dos indicadores
                                            do ciclo do pedido (mineração de dados)
                                            para clientes e-commerce: Walmart, Fast Shop,
                                            Etna, Mais Amigas e Onofre.
                                        </p>
                                    </ng-template>
                                </ngb-tab>
                                
                                <ngb-tab>
                                  <ng-template ngbTabTitle>
                                      <i class="now-ui-icons business_bank"></i>Gerente Administrativo
                                  </ng-template>
                                    <ng-template ngbTabContent>
                                        <h5>FINANCEIRA EQUILIBRIO</h5>
                                        <h6> 05/2012 a 12/2014 (2 anos 5 meses)</h6>
                                        <p>Atividades gerenciais em contas a pagar e
                                            receber, recrutamento, seleção e treinamento
                                            de vendedores(as), formalização de contratos,
                                            negociações comerciais com foco em venda
                                            de empréstimos consignados para
                                            beneficiários: INSS, Prefeituras e Governo de
                                            São Paulo.                                            
                                        </p>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>
            </div>
                    
            <div class="section section-team text-center">
                <div class="container">
                    <h3 class="title"> Minha Equipe</h3>
                    <div class="team">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="team-player">
                                    <img src="assets/img/agatha.jpeg" alt="Agatha Luiza" class="rounded-circle img-fluid img-raised" style="width:100px;height:100px;">
                                    <h4 class="title">Agatha Luiza</h4>
                                    <p class="category text-primary">Administradora</p>
                                    <p class="description">
                                        <strong>16 anos, estudante de administração na Etec Guarulhos (Ensino Médio Técnico) e em breve atuará como Jovem Aprendiz.
                                        </strong></p>
                                        <p><a href="mailto:agathaluizasoaressilva@gmail.com" style="background: #87293e;" class="btn btn-primary btn-icon btn-round">
                                            <i class="now-ui-icons ui-1_email-85"></i></a></p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-player">
                                    <img src="assets/img/avatar.png" alt="Ludmyla" class="rounded-circle img-fluid img-raised" style="width:100px;height:100px;">
                                    <h4 class="title">Ludmyla</h4>
                                    <p class="category text-primary">Analista de Sistemas</p>
                                    <p class="description">
                                        <strong> 32 anos, graduada em Análise e Desenvolvimento de Sistemas, procuro cargos nos setores administrativos, TI e dados.
                                        </strong></p>
                                        <a href="mailto:ludmylaoliveirasoares@gmail.com" class="btn btn-primary btn-icon btn-round" style="background: #87293e;">
                                            <i class="now-ui-icons ui-1_email-85"></i></a>
                                        <a href="https://api.whatsapp.com/send?phone=5511998521885" class="btn btn-primary btn-icon btn-round" style="background: #87293e;">
                                            <i class="fab fa-whatsapp"></i></a>
                                        <a href="https://ludmylasoares.site/" class="btn btn-primary btn-icon btn-round" style="background: #87293e;">
                                            <i class="now-ui-icons objects_globe"></i></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-player">
                                    <img src="assets/img/lavinia.jpeg" alt="Lavínia" class="rounded-circle img-fluid img-raised" style="width:100px;height:100px;">
                                    <h4 class="title">Lavínia</h4>
                                    <p class="category text-primary">Mídias Sociais</p>
                                    <p class="description"> 
                                        <strong>11 anos, estudante do 5º ano do Ensino Fundamental, adora atuar, dublar e gravar vídeos. Canal no youtube em construção!
                                        </strong></p>
                                        <a href="mailto:laviniasoaressilva07@gmail.com" class="btn btn-primary btn-icon btn-round circle-raised" style="background: #87293e;">
                                            <i class="now-ui-icons ui-1_email-85"></i></a>
                                        <a href="https://www.facebook.com/lavinia.soares.silva" class="btn btn-primary btn-icon btn-round" style="background: #87293e;">
                                            <i class="fab fa-facebook"></i></a>
                                        <a href="#" class="btn btn-primary btn-icon btn-round" style="background: #87293e;">
                                            <i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <footer class="footer text-center">
                <div class="container" style="font-size: 12px;">
                    <a href="https://www.ludmylasoares.site" target="_blank" style="text-decoration: none;">
                        Ludmyla Soares</a>                
                    &copy;
                    {{data | date: 'yyyy'}} Licença <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md"
                        target="_blank" style="text-decoration: none;">
                        MIT</a> - Todos direitos reservados.
                </div>
            </footer>    
</div>
