body {margin:0;height:2000px;}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 16px;
}

.icon-bar a:hover {
  background:  #c66f64;
 -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.facebook {
  background: #3B5998;
  color: white;
  border-top-right-radius: 8px;
}

.github {
  background: #1c2331;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.google {
  background: #ee3d3d;
  color: white;
}

.whatsapp {
  background: #2ab23f;
  color: white;
  border-bottom-right-radius: 8px;
}
