<div class="icon-bar">
    <a href="https://www.facebook.com/ludmyla.oliveira.soares" class="facebook" target="_blank" placement="right" 
        ngbTooltip="Participe!">
        <i class="fa fa-facebook"></i></a> 
    <a href="https://www.linkedin.com/in/ludmylasoares/" class="linkedin" target="_blank" placement="right" 
        ngbTooltip="Comece!">
        <i class="fa fa-linkedin"></i>
    </a> 
    <a href="https://github.com/ludmylasoares" class="github" target="_blank" placement="right" 
        ngbTooltip="Vamos fazer um projeto juntos!">
        <i class="fa fa-github"></i>
    </a>
    <a href="mailto:ludmylaoliveirasoares@gmail.com" class="google" target="_blank" placement="right" 
        ngbTooltip="Aguardo seu e-mail!">
        <i class="fa fa-google"></i>
    </a>
    <a href="https://api.whatsapp.com/send?phone=5511998521885" class="whatsapp" target="_blank" placement="right" 
        ngbTooltip="Aguardo sua mensagem!">
        <i class="fa fa-whatsapp"></i>
    </a> 
</div>