
/* ---- particles.js container ---- */ 
#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%; 
    background-color: #1c2331; 
    background-image: url("http://ludmylasoares.site/img/bg.jpg"); 
    background-repeat: no-repeat; 
    background-size: 100%; background-position: 50% 50%; } 
    