<footer class="footer">
    <div class="container">
        Adaptado por <a href="https://www.ludmylasoares.site" target="_blank" style="color: #c66f64; text-decoration: none;">
            Ludmyla Soares</a>                
        &copy;
        {{data | date: 'yyyy'}} Licença <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md"
            target="_blank" style="color: #c66f64; text-decoration: none;">
            MIT</a> - Todos direitos reservados.
    </div>
</footer>
<!--<footer class="footer footer-primary">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                        MIT License
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            {{data | date: 'yyyy'}}, Designed by
            <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
        </div>
    </div>
  </footer>-->