<footer class="footer footer-default" style="background: transparent;position:fixed;bottom:25px;left:25px;z-index:30;">
  <div class="container">
    <div class="copyright">
      &copy; 2020 <a href="http://www.ludmylasoares.site/" title="Analista Administrativo, de sistemas e dados!">Adaptado por Ludmyla Soares</a>. Todos os Direitos Reservados.
    </div>
    <div class="span6">
      <div class="social pull-right">
        <nav> 
          <ul>
              <a href="http://www.ludmylasoares.site"  onmouseover="this.style.color='#87293e';" onmouseout="this.style.color='';" target="_blank" title="Adaptado por Ludmyla Soares">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </span></a>   
              <a href="http://validator.w3.org/check?uri=http://www.ludmylasoares.site" target="_blank" title="html5 nos padrões W3C">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                </span></a>
              <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://www.ludmylasoares.site/css/main.css" target="_blank" title="css3 nos padrões W3C">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-css3 fa-stack-1x fa-inverse"></i>
                </span></a>
              <a href="https://www.google.com/webmasters/tools/mobile-friendly/?url=http://www.ludmylasoares.site" target="_blank" title="Compatível com dispositivos móveis nos padrões Google">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
                </span></a>
              <a href="http://www.ludmylasoares.site/mapa-site.php" title="Mapa do Site">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
                </span></a>
          </ul>
        </nav>  
    </div>
    </div>
  </div>
</footer>
